@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*font-family: 'Montserrat', sans-serif;*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

/*Variables colores*/
:root {
  --background: rgba(19, 20, 21, 1);
  --backblack: #131415;
  --black: #252525;
  --light-orange: #ffa400;
  --middle-orange: #ff9300;
  --dark-orange: #fc2933;
  --white: #ffffff;
  --opacWhite: rgb(255, 255, 255, 0.3);
  --gray: #4d4d4d;
  --gradient: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
}

.button {
  background: var(--gradient);
  color: white;
  padding: 3px 7px;
  border: none;
  border-radius: 10px;
  box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
  cursor: pointer;
}

/* inicio header */

.header {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 90px 0px 60px; */
  background-color: var(--background);
  height: 116px;
  padding: 24px 74px;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-ul-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  gap: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-ul-container li {
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  line-height: 80%;
  text-align: center;
}

.navElement {
  height: 100%;
}

.navIcon {
  color: var(--middle-orange);
  cursor: pointer;
  width: 100%;
}

.navIcon:hover {
  filter: drop-shadow(0px 5px 3px rgba(255, 255, 255, 0.5));
}

.navIcon span {
  color: white;
  padding-left: 4px;
}

/* fin header */

/* CLASES AL CUERPO DE HTML */

/* inicio main */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  gap: 30px;
  background-color: var(--background);
  padding: 0px 120px;
  color: var(--white);
}
/* fin main */

/* inicio hero */
.hero-section-container {
  display: flex;
  gap: 16px;

  flex-flow: row wrap;
  justify-content: space-between;

  width: 100%;
}
.text-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  flex: 1 0 236px;
  max-width: 600px;
}

.title-container {
  width: 100%;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1rem, 4.5vw, 15rem); /*66px*/
  line-height: 131.02%;

  display: flex;
  flex-direction: column;
}

.title span {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1.3rem, 1.3vw, 15rem);
  line-height: 131.02%;
}

.vermas-section {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1rem, 2.5vw, 3rem);
  line-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.primary-button {
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  outline: none;
  box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
  border-radius: 15px;
  transition: all 0.5s ease-out;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.5px;
  color: var(--white);

  padding: 18px 22px;
}

.primary-button:hover,
.addBtn:hover,
.card button:hover {
  cursor: pointer;
  transition: all 0.5s ease-out;
  color: var(--black);
  background: var(--white);
}

.hero-button {
  text-transform: uppercase;
  max-width: 166px;
}
.pizza-container {
  flex: 0 1 300px;
  max-width: 500px;
}
.image-container {
  position: relative;
  width: 100%;
  min-height: 290px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.image-container img:first-child {
  position: relative;
  max-width: 20vw;
  object-fit: contain;
  object-position: center top;

  left: 20%;
}
.image-container img:last-child {
  position: relative;
  z-index: 1;
  max-width: 20vw;
  /* right: 35%; */
  top: 0;
  object-fit: contain;
  transform: translateY(0px);
  animation: 6s ease-in-out 0s infinite normal none running float;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(35px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* fin hero */

/* Estándar para todas las secciones */
.section-container {
  gap: 20px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  /* padding: 20px; */
  background-color: var(--background);
}

/*********recomendaciones*********/

.recomendadosContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.recommendContainer {
  display: flex;
  /* flex-wrap: wrap; */
  align-content: center;
  align-items: center;
  /* justify-content: space-evenly; */
  /* padding: 0 5rem; */
  gap: 1rem;
  flex-flow: row wrap;
}

.recommendCard {
  height: 114px;
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  background-color: var(--black);
  flex: 1 1 320px;
  max-width: 375px;
}
.separate-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.recommendTextContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
}
.recommendText {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.5px;
  line-height: 25px;
  width: 155px;
}
.recommendImg {
  width: 62px;
  height: 62px;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}
.recommendTitle {
  font-size: clamp(1rem, 1.5vw, 1.1rem);
  font-weight: 500;
  font-style: normal;
  color: var(--white);
}

.recommendDescription {
  gap: 3rem;
  color: var(--opacWhite);
  letter-spacing: 0.5px;
}

.recommendPrice {
  font-weight: 700;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.addBtn {
  height: 2rem;
  width: 86px;
  border: none;
  border-radius: 17.5px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--white);
  background: var(--gradient);
  cursor: pointer;
  transition: all 0.5s ease-out;
}

/* SECCIÓN CATEGORÍAS */

.categoryContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.catTitle {
  width: 100%;
  text-align: left;
}
.catTitle h4 {
  font-style: normal;
  font-weight: 600;
}

.catCardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 12px;
  /* gap: 25px; */
}

.catCard {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 130px;
  height: 160px;
  background-color: var(--black);
  border-radius: 15px;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  padding: 10px;
  gap: 10px;

  transition: background-color ease 0.7s;
}

/* Esto hace que pueda acceder a las categorías sin clickear en lode abajo */
.catCard > * {
  pointer-events: none;
}

.catCard:hover {
  cursor: pointer;
  background-color: var(--gray);
  transition: background-color ease 0.7s;
}

.catCard:hover > .catImg {
  transform: translateY(-10px);
  transition: all ease 0.7s;
}

.catActive {
  background-color: var(--gray);
}

.catImg {
  width: 100%;
  min-width: 50px;
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateY(0px);
  transition: all ease 0.7s;
}

.colorDetail {
  width: 20%;
  height: 5px;
  background: var(--gradient);
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;
}

/* SECCIÓN CART */

.cart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  width: 20%;
  min-width: 400px;
  padding: 20px;
  top: 0;
  right: 0;
  color: var(--white);
  background-color: var(--black);
  gap: 50px;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}

.cart h3 {
  font-weight: 300;
}

/* .cart-productsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
} */

.cart-product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  gap: 20px;
  padding: 10px;
  background-color: var(--black);
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;
}

.cart-productDetalle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.cart-cantidadDetalle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.cart-costoInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.subLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subLine h3 {
  font-weight: 300;
  font-size: 20px;
}

.subLine h4 {
  font-weight: 100;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: var(--gray);
}

.total {
  color: var(--light-orange);
  font-weight: bold;
  font-size: 20px;
}

.cart-buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.btn-buy {
  width: 70%;
  padding: 15px;
  border-radius: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-verMas {
  background-color: var(--black);
  color: var(--white);
  border: none;
  cursor: pointer;
}

.btn-closeCart,
.btn-menosUno,
.btn-masUno {
  border-radius: 4px;
}

/* SECCION POPULARES */

.filter-card-container {
  width: 100%;
}
.populares-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.populares-section h3 {
  font-size: clamp(1.3rem, 1.3vw, 15rem);
}

.populares--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  /* margin-left: 10px; */
}

.card {
  flex: 0 1 250px;
  background-color: var(--black);
  border-radius: 15px;
  /* max-width: 300px; */
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  height: 252px;
}

.noProducts {
  background-color: var(--dark-orange);
  color: var(--white);
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}

.card--container {
  display: flex;
  /* flex: 1 0 200px; */
  align-items: center;
  color: white;
  max-width: 282px;
  width: 100%;
  /* height: 213px; */
  border-radius: 15px;
  background-color: var(--black);
}

.cardProducto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 20px;
}

.card .front--image {
  width: 100%;
  max-width: 250px;
  /* max-height: 100px; */
  /* height: 97px; */
  /* border: 1px solid red; */
  border-radius: 16px;

  max-width: none;
  height: 50%;
  width: 100%;
}

.card .front--image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  overflow: hidden;
}

.card--body {
  display: flex;
  flex-direction: column;
  gap: 5px;

  height: 25%;
}

.card--pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;

  height: 25%;
}

.card h4 {
  font-size: 15px;
  color: var(--white);
}

.card p {
  color: var(--opacWhite);
  font-size: 14px;
}

.card span {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 19px;
}

.card button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 17px;
  padding: 5px 15px;
  background-image: var(--gradient);
  color: var(--white);
  font-weight: 500;
  font-size: 12px;

  transition: all 0.5s ease-out;
}

/* inicio footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: white;
  gap: 60px;
}

.footer-ul-container {
  display: flex;
  gap: 25px;
  cursor: pointer;
}
.footer-ul-container li {
  height: 42px;
}
.footer-ul-container li:hover {
  color: var(--light-orange);
  font-weight: 300;
}

.footer-p span {
  font-weight: 900;
}

.footer-p img {
  height: 15px;
}

/* fin footer */

/* clases carrito */

.hidden {
  display: none;
}
.active {
  display: block;
  z-index: 999;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
}

.show-overlay {
  display: block;
}

.disabled {
  background-color: #968e8e;
  color: white;
}
/* fin clases carrito */

/*MODIFICACIONES RESPONSIVE*/

@media (max-width: 1237px) {
  /*Cards Pizzas Populares*/

  .card--container {
    flex: 0 0 250px;
    max-width: 200px;
  }
  .populares--container {
    justify-content: space-between;
  }

  /*Cards catalogo*/

  .catCardContainer {
    justify-content: flex-start;
  }
}

@media (max-width: 900px) {
  main {
    padding: 0px 56px;
  }
  .pizza-container {
    display: none;
  }
  .recommendContainer {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .header {
    padding: 24px 40px;
  }
  .navbar-ul-container {
    gap: 32px;
  }
}

@media (max-width: 500px) {
  main {
    padding: 0px 32px;
  }
  /*Logo*/
  .logo-container img {
    width: 56px;
  }

  /*Nav bar*/
  .navbar-ul-container {
    gap: 36px;
  }

  .fa-house:first-child {
    display: none;
  }

  /*Cards recomendaciones*/
  .recommendContainer {
    align-content: center;
    align-items: center;

    width: 100%;
  }
  .recommendCard {
    height: 300px;
    flex-direction: column;
    padding: 16px;
  }
  .recommendImg {
    width: 100%;
  }
  .recommendCard img {
    align-self: center;
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 7px;
  }
  .separate-card-container {
    flex-direction: column;
    width: 100%;
  }
  .recommendTextContainer {
    width: 100%;
    height: auto;
  }
  .recommendText {
    width: 100%;
  }
  .addBtn {
    height: 32px;
    width: 100%;
  }

  /*Cards Categorias*/
  .catCardContainer {
    justify-content: space-evenly;
  }

  /*Cards Populares*/
  .populares--container {
    justify-content: center;
    width: 100%;
    gap: 1rem;
  }
  .card--pricing {
    flex-direction: column;
    gap: 8px;
  }
  .card button {
    width: 100%;
  }
  .card--container {
    flex: 0 0 100%;
    max-width: none;
    width: 100%;
    height: 300px;
    /* padding: 16px; */
  }

  .card {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1 1 100%;
  }

  .card .front--image {
    max-width: none;
    height: 50%;
    width: 100%;
  }
  .card .front--image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    overflow: hidden;
  }
  .card--body,
  .card--pricing {
    height: 25%;
  }
  /*footer*/
  footer {
    align-items: flex-start;
  }
  .footer-ul-container {
    flex-direction: column;
    gap: 16px;
  }
  .footer-p {
    text-align: center;
  }

  /*Tamaños titulos para celular*/
  .title {
    font-size: 28px;
  }

  .title span,
  .vermas-section p,
  .recomendadosContainer h2,
  .populares-section h3 {
    font-size: 20px;
  }
}

@media (max-width: 440px) {
}
